<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Trip (Users)</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<% const locations = ["Haliburton", "Minden", "Miners Bay", "Moore Falls", "Norland", "Coboconk", "Rosedale", "Fenelon Falls", "Cameron", "Lindsay", "Hwy. 35 & 7A", "Hwy 2 @ Hwy 35/115 Park & Ride", "Bowmanville", "Courtice", "Oshawa", "Scarborough", "Toronto"]; %>

<body>
    <h1>Submit a New Trip (Users)</h1>

    <main>
        <form action="/trips/allDates" method="POST">
            <div>
                <label for="tripDate">Trip Date:</label>
                <input type="date" name="tripDate" id="tripDate" placeholder="Trip Date" required>
            </div>
            <script>
                document.getElementById('tripDate').min = new Date().toLocaleDateString('en-CA');
            </script>

            <div>
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName" placeholder="First Name" maxlength="20" required>
            </div>

            <div>
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" id="lastName" placeholder="Last Name" maxlength="20" required>
            </div>

            <div>
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" name="phoneNumber" id="phoneNumber" placeholder="XXX-XXX-XXXX"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="12" required>
            </div>

            <div>
                <label for="email">E-Mail:</label>
                <input type="text" name="email" id="email" placeholder="E-mail">
            </div>

            <div>
                <label for="numberOfPassengers"># of Passengers:</label>
                <input type="number" name="numberOfPassengers" id="numberOfPassengers" placeholder="" min="1" max="10" required>
            </div>

            <div>
                <label for="pickupLocation">Pick-Up Location:</label>
                <select name="pickupLocation" id="pickupLocation" required>
                    <% locations.forEach(location => { %>
                        <option value="<%= location %>"><%= location %></option>
                    <% }); %>
                </select>
            </div>

            <div>
                <label for="dropoffLocation">Drop-Off Location:</label>
                <select name="dropoffLocation" id="dropoffLocation" required>
                    <% locations.forEach(location => { %>
                        <option value="<%= location %>"><%= location %></option>
                    <% }); %>
                </select>
            </div>

            <button>Submit</button>
        </form>

        <div>
            <a href="/trips/">Back to Home Page</a>
        </div>
    </main>
    <script src="script.js"></script>
</body>

</html>
