<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Trip (Users)</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body>
    <h1>Submit a New Trip (Users)</h1>

    <main>
        <form action="/trips/allDates" method="POST">
            <div>
                <label for="tripDate">Trip Date:</label>
                <input type="date" name="tripDate" id="tripDate" placeholder="Trip Date">
            </div>
            <script>
                document.getElementById('tripDate').min = new Date().toLocaleDateString('en-CA');
            </script>

            <div>
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName" placeholder="First Name" maxlength="20">
            </div>

            <div>
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" id="lastName" placeholder="Last Name" maxlength="20">
            </div>

            <div>
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" name="phoneNumber" id="phoneNumber" placeholder="XXX-XXX-XXXX"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="12">
            </div>

            <div>
                <label for="email">E-Mail:</label>
                <input type="text" name="email" id="email" placeholder="E-mail">
            </div>

            <div>
                <label for="numberOfPassengers"># of Passengers:</label>
                <input type="number" name="numberOfPassengers" id="numberOfPassengers" placeholder="" min="1" max="10">
            </div>

            <div>
                <label for="pickupLocation">Pick-Up Location:</label>
                <select name="pickupLocation" id="pickupLocation">
                    <option value="Haliburton">Haliburton</option>
                    <option value="Minden">Minden</option>
                    <option value="Miners Bay">Miners Bay</option>
                    <option value="Moore Falls">Moore Falls</option>
                    <option value="Norland">Norland</option>
                    <option value="Coboconk">Coboconk</option>
                    <option value="Rosedale">Rosedale</option>
                    <option value="Fenelon Falls">Fenelon Falls</option>
                    <option value="Cameron">Cameron</option>
                    <option value="Lindsay">Lindsay</option>
                    <option value="Hwy. 35 & 7A">Hwy. 35 & 7A</option>
                    <option value="Hwy 2 @ Hwy 35/115 Park & Ride">Hwy 2 @ Hwy 35/115 Park & Ride</option>
                    <option value="Bowmanville">Bowmanville</option>
                    <option value="Courtice">Courtice</option>
                    <option value="Oshawa">Oshawa</option>
                    <option value="Scarborough">Scarborough</option>
                    <option value="Toronto">Toronto</option>
                </select>
            </div>

            <div>
                <label for="dropoffLocation">Drop-Off Location:</label>
                <select name="dropoffLocation" id="dropoffLocation">
                    <option value="Haliburton">Haliburton</option>
                    <option value="Minden">Minden</option>
                    <option value="Miners Bay">Miners Bay</option>
                    <option value="Moore Falls">Moore Falls</option>
                    <option value="Norland">Norland</option>
                    <option value="Coboconk">Coboconk</option>
                    <option value="Rosedale">Rosedale</option>
                    <option value="Fenelon Falls">Fenelon Falls</option>
                    <option value="Cameron">Cameron</option>
                    <option value="Lindsay">Lindsay</option>
                    <option value="Hwy. 35 & 7A">Hwy. 35 & 7A</option>
                    <option value="Hwy 2 @ Hwy 35/115 Park & Ride">Hwy 2 @ Hwy 35/115 Park & Ride</option>
                    <option value="Bowmanville">Bowmanville</option>
                    <option value="Courtice">Courtice</option>
                    <option value="Oshawa">Oshawa</option>
                    <option value="Scarborough">Scarborough</option>
                    <option value="Toronto">Toronto</option>
                </select>
            </div>

            <button>Submit</button>
        </form>

        <div>
            <a href="/trips/">Back to Home Page</a>
        </div>
    </main>
</body>

</html>
